
@import url('https://fonts.googleapis.com/css?family=Gabriela|Open+Sans');

body{
   font-family: 'Open Sans',serif;
   background-color: #7E8F7C;
   border-color: red;
}
.container {
	margin-top: 10px;
}

h1, h2, h3, h5{
  font-family: Archivo Narrow, Georgia, serif;
}

.content-box {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 15px;
  background-color: #E8E8E8;
}

.jumbotron {
	margin-top: 10px;
    margin-bottom: 0px;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/3/32/Rick_and_Morty_opening_credits.jpeg);
    background-position: 0% 25%;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    min-height: 300px; 
   
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

#carouselExampleIndicators{
  margin-top: 15px;
  background-position: 0% 25%;
  background-size: cover;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .content-box {
    margin-top: 0;
    margin-bottom: 0;
  }
}
